<app-header titleName="Resumen registro clinico"></app-header>

<ion-content [fullscreen]="true">
    <div class="container-card-patient">
        <ion-card>
          <ion-list [inset]="true">
            <ion-text>#Registro: {{ medicalAttention?.numeroResgistro }}</ion-text><br />
            <ion-card-header>
              <ion-row class="ion-align-items-center ion-justify-content-center">
                <ion-col size="12" class="ion-text-center">
                  <ion-avatar aria-hidden="true">
                    <ion-img src="../../../assets/svg/man-4.svg"></ion-img>
                  </ion-avatar>
                </ion-col>
                <ion-col size="12" class="ion-text-center">
                  <strong>{{ medicalAttention?.patient?.name }} {{ medicalAttention?.patient?.lastname}}</strong>
                  <div class="content-text">
                    <ion-text>CC.{{ medicalAttention?.patient?.dni }}</ion-text>
                    <ion-note color="medium" class="ion-text-wrap">
                      <ion-icon name="male-female-outline"></ion-icon>
                      {{ medicalAttention?.patient?.gender }}
                    </ion-note>
                  </div>
                  <div class="metadata-end-wrapper">
                    <ion-note color="medium">fecha de nacimiento: {{ medicalAttention?.patient?.birthday | date: 'dd/MM/yyyy'}}</ion-note>
                  </div>
                  <div id="entry-time">
                    <strong>Hora de Ingreso: </strong>
                    <ion-text *ngIf="medicalAttention.admissionList !== undefined && medicalAttention.admissionList.arrivalDate !== null; else elseBlock" item-end>{{ medicalAttention.admissionList.arrivalDate | date:'medium' }}</ion-text>
                    <ng-template #elseBlock><ion-text>Este paciente aún no ha sido ingresado a filtro</ion-text></ng-template>
                  </div>
                </ion-col>
                </ion-row>
            </ion-card-header>
            <ion-card-content>
              <ion-row class="ion-align-items-center ion-justify-content-center">
                <ion-col size="6">
                  <strong>Especialidas:</strong>
                  <ion-text>{{ medicalAttention?.specialty?.name }}</ion-text>
                </ion-col>
                <ion-col size="6">
                  <strong>programación:</strong>
                  <ion-text style="text-transform: uppercase;">
                    {{
                      medicalAttention?.programming?.includes('Programación'||'programación')
                        ? medicalAttention?.programming?.replace('Programación'||'programación', '')?.trim()
                        : medicalAttention?.programming
                    }} </ion-text>
                </ion-col>
                <ion-col size="12" class="procedures" *ngIf="medicalAttention?.procedureCodes">
                  <strong>Procedimientos:</strong>
                  <div  *ngFor="let cup of medicalAttention?.procedureCodes">
                    <div class="procedure-item">
                      <ion-icon src="../../assets/svg/operating-room.svg"></ion-icon>
                      <div class="content-cups">
                        <strong>{{ cup.code }}</strong>
                        <ion-text>{{ cup.name }}</ion-text>
                      </div>
                    </div>
                  </div>
                </ion-col>
                <ion-col size="12" class="medical-person">
                  <strong>Anestesiologo:</strong>
                  <div class="container-anesthesiologist" *ngFor="let anesthesiologist of medicalAttention.anestehsiologist">
                    <div class="data-medical-person">
                      <ion-icon src="../../assets/svg/medical-anes.svg"></ion-icon>
                      <ion-text>{{ anesthesiologist.name }} {{ anesthesiologist.lastname }}</ion-text>
                    </div>
                  </div>
                </ion-col>
                <ion-col size="12" class="medical-person">
                  <strong>Cirujano:</strong>
                  <div class="data-medical-person">
                    <ion-icon src="../../assets/svg/medical-cx.svg"></ion-icon>
                    <ion-text>{{ medicalAttention?.surgeon?.name }} {{ medicalAttention?.surgeon?.lastname }}</ion-text>
                  </div>
                </ion-col>
                <ion-col size="12" class="medical-person">
                  <strong>Instrumentador:</strong>
                  <div class="data-medical-person">
                    <ion-icon src="../../assets/svg/medical-ins.svg"></ion-icon>
                    <ion-text> {{ medicalAttention?.instrumentator?.name }} {{ medicalAttention?.instrumentator?.lastname }}</ion-text>
                  </div>
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-list>  
        </ion-card>
      </div>
</ion-content>
