<ion-content [fullscreen]="true">
  <ion-title>Evento adverso</ion-title>
  <div>
    <ion-icon src="../../../assets/svg/eventoadversoxhdpi.svg"></ion-icon>
  </div>
  <form>
    <ion-item lines="none">
      <ion-textarea 
        name="descripcion"
        [(ngModel)]="model.descripcion"
        placeholder="Descripción del evento adverso">
    </ion-textarea>
    </ion-item>
  </form>
</ion-content>
<ion-footer>
  <ion-toolbar position="bottom">
    <ion-row>
        <ion-col>
          <ion-button (click)="goToBackPage()"  class="back">
            Volver
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button (click)="toContinue()"  class="continue">
            Continuar
          </ion-button>
        </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
