<app-header titleName="paciente"></app-header>

<ion-content [fullscreen]="true" class="home-destination">
  <ion-header>
    <ion-toolbar>
      <ion-title size="large">Casa</ion-title>
    </ion-toolbar>
  </ion-header>
  <form>
    <ion-row class="together">
      <ion-col>
        <ion-textarea [(ngModel)]="model.description" name="description" placeholder="Observación adicional (No es obligatoria)"></ion-textarea>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-label text-wrap>Pulse para registrar la hora de envío a casa</ion-label>
        <ion-button id="open-datetime">
          {{ model.envioDestinoHoraManual ? (model.envioDestinoHoraManual | date:'HH:mm':'UTC') : 'HH:mm' }}
        </ion-button>
        <ion-modal class="date-time-modal ion-datetime-button-overlay" [keepContentsMounted]="true" trigger="open-datetime">
          <ng-template>
            <ion-datetime
              id="custom-datetime"
              [value]="minimumSelectableDate"
              [(ngModel)]="model.envioDestinoHoraManual"
              presentation="time"     
              name="envioDestinoHoraManual"
              [min]="minimumSelectableDate" 
              [preferWheel]="true"
              [showDefaultButtons]="true"
              hourCycle="h23"
            ></ion-datetime>
          </ng-template>
        </ion-modal>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button id="btnContinuar" 
          shape="round"
          [disabled]="!isValid()"
          (click)="goToNextPage()">Finalizar
        </ion-button>
      </ion-col>
    </ion-row>

  </form>
</ion-content>
<ion-footer>
  <app-events-panel [showCancelEvent] = false [showScanerDiv] = false sizeCol ='4'></app-events-panel>
</ion-footer>