<app-header titleName="Seleccione el quirófano"></app-header>

<ion-content [fullscreen]="true">
  <div class="select-qr">
    <ion-icon (click)="scan()" src="../../../assets/svg/lens-qr.svg"></ion-icon>
    <p>{{ textItem }}</p>
    <div class="buttons-container">
      <ion-button (click)="scan()" class="continue"> SCANEAR </ion-button>
      <ion-button
        fill="outline"
        size="small"
        (click)="showDemoOptions()"
        class="demo-button"
      >
        Acceder demo sin QR
      </ion-button>
    </div>
  </div>
</ion-content>
<footer>
  <app-button-panel
    [disabled]="false"
    (buttonClicked)="toContinue()"
  ></app-button-panel>
</footer>
