seleccion-destino-page {

    p.title {
        color: $app-blue;
    }

    ion-item ion-label {
        color: $app-blue;
    }

    ion-label.titulo-seccion {
        color: $app-red;
        font-size: 16px;
    }

    ion-input {
        padding: 5px !important;
        margin-bottom: 10px;
    }

    ion-item.together {
        margin-top: -15px;
    }
}
