<ion-header>
  <ion-toolbar text-center color="app-blue">
    <app-encabezado-paciente></app-encabezado-paciente>
  </ion-toolbar>
</ion-header>

<ion-content padding class="aqua">

  <form class="formulario-chequeo">

    <ion-item no-lines>
      <ion-select class="full-size-select" [(ngModel)]="model.destino" name="destino" multiple="false" placeholder="Seleccione destino" [selectOptions]="{title: 'Destino'}">
        <ion-option value="CASA">Casa</ion-option>
        <ion-option value="HOSPITALIZACION">Hospitalización</ion-option>
        <ion-option value="UCI">UCI</ion-option>
        <ion-option value="CIRUGIA">Cirugía</ion-option>
        <ion-option value="SALA_DE_PAZ">Sala de paz</ion-option>
      </ion-select>
    </ion-item>
    <ion-row>
      <ion-col text-center>
        <ion-label class="titulo-seccion" text-center>Orden de Salida de Recuperación
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col text-center>
        <ion-label class="titulo-seccion" text-center>Condición del paciente
        </ion-label>
      </ion-col>
    </ion-row>


    <ion-item no-lines>
      <ion-label>Aldrete</ion-label>
    </ion-item>

    <ion-item no-lines class="together">
      <ion-select class="full-size-select" multiple="false" 
        name="aldrete" 
        placeholder="Aldrete"
        [(ngModel)]="model.aldrete" 
        [selectOptions]="{title: 'Aldrete'}">

        <ion-option value="-1">No aplica</ion-option>
        <ion-option *ngFor="let valor of [0,1,2,3,4,5,6,7,8,9,10]" [value]="valor">{{ valor }}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item no-lines>
      <ion-label>Bromage</ion-label>
    </ion-item>

    <ion-item no-lines class="together">
      <ion-select class="full-size-select" multiple="false" 
        name="bromage" 
        placeholder="Bromage"
        [(ngModel)]="model.bromage" 
        [selectOptions]="{title: 'Bromage'}">

        <ion-option value="-1">No aplica</ion-option>
        <ion-option *ngFor="let valor of [0,1,2,3]" [value]="valor">{{ valor }}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item no-lines>
      <ion-label>Ramsay</ion-label>
    </ion-item>

    <ion-item no-lines class="together">
      <ion-select class="full-size-select" multiple="false" 
        name="ramsay" 
        placeholder="Ramsay"
        [(ngModel)]="model.ramsay" 
        [selectOptions]="{title: 'Ramsay'}">

        <ion-option value="-1">No aplica</ion-option>
        <ion-option *ngFor="let valor of [1,2,3,4,5,6]" [value]="valor">{{ valor }}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item no-lines>
      <ion-label>Eva</ion-label>
    </ion-item>

    <ion-item no-lines class="together">
      <ion-select class="full-size-select" multiple="false" 
        name="eva" 
        placeholder="Eva"
        [(ngModel)]="model.eva" 
        [selectOptions]="{title: 'Eva'}">

        <ion-option *ngFor="let valor of [0,1,2,3,4,5,6,7,8,9,10]" [value]="valor">{{ valor }}</ion-option>
      </ion-select>
    </ion-item>

    
    <ion-row>
      <ion-col text-center>
        <ion-label text-center>
          <p class="title" text-wrap>
            Presenta NAUSEA o VÓMITO algún momento?
          </p>
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-list radio-group name="nausea" [(ngModel)]="model.nausea" (ionChange)="marcarFechaOrdenDeSalida()">
      <ion-item>
        <ion-label>No</ion-label>
        <ion-radio [value]="false"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label text-wrap>Sí</ion-label>
        <ion-radio [value]="true"></ion-radio>
      </ion-item>
    </ion-list>

    <ion-row>
      <ion-col text-center>
        <button id="btnContinuar" 
          ion-button round 
          color="app-blue"
          [disabled]="!isValid()"
          (click)="goToNextPage()">Siguiente
        </button>
      </ion-col>
    </ion-row>

  </form>



</ion-content>
<ion-footer no-shadow>
  <ion-toolbar position="bottom">
    <app-panel-eventos></app-panel-eventos>
  </ion-toolbar>
</ion-footer>
