ion-content{
    ion-title{
        text-align: center;
        color: white;
        font-size: x-large;
        font-weight: bold;
        margin: 30px 0;
    }
    div{
        margin-bottom: 30px;
        text-align: center;

        ion-icon{
            width: 60px;
            height: 100px;
        }
    }
    ion-item{
        text-align: center;
        width: 90%;
        margin: auto;
        border-radius: 50px;
        margin-bottom: 10px;
        ion-textarea{
            text-align: center;
        }
    }
}

ion-content::part(background) {
    background-color: rgba(34, 34, 34, 0.8);
}

ion-footer{
    ion-toolbar{
        --background: transparent;
    }
    ion-row{
        background-color: rgba(255, 255, 255, 0.192);
        ion-col{
            text-align: center;
            ion-button{
                --border-radius: 40px;
                width: 160px;
                height: 36px;

            }
            .back{
                --background:var(--ion-color-app-red)
            }
            .continue{
                --background:var(--ion-color-app-blue)
            }
        }
    }
}