<app-header titleName="Relevo o cambio de turno"></app-header>

<ion-content [fullscreen]="true">

  <ion-searchbar class="custom" [debounce]="2500" (ionInput)="handleInputAnesthesiologistName($event)"
      placeholder="Búsqueda anestesiólogo por nombre">
    </ion-searchbar>
    <ion-list class="list">
      <ion-item lines="none" *ngFor="let anesthesiologist of resultsSearchigAnesthesiologist">
        <ion-img src="../../assets/svg/usuarioxhdpi.svg"></ion-img>
        <ion-label (click)="anesthesiologistSelected(anesthesiologist)" id="label-patient-name">{{ anesthesiologist.name + ' ' + anesthesiologist.lastname}}</ion-label>
      </ion-item>
    </ion-list>

  <ion-card *ngIf="selectedAnes" class="anes-card">
    <ion-item lines="none">
      <ion-icon src="../../assets/svg/usuarioxhdpi.svg" large></ion-icon>
      <h3>{{selectedAnes.name}} {{selectedAnes.lastname}}</h3>
    </ion-item>
  
    <ion-item lines="none" class="item-line">
      <ion-icon src="../../assets/svg/mail-outline.svg" large ></ion-icon>
      <h3>{{selectedAnes.email}}</h3>
    </ion-item>
  
    <ion-item lines="none" class="span-item">
      <p>Servicios en progreso: {{ servicesToChangeCount }}</p>
    </ion-item>
  </ion-card>
  <div *ngIf="selectedAnes">
    <ion-list *ngFor="let item of attentionsInProgress">
      <ion-item lines="none" (click)="selectAttentionToTransfer(item.attention)"
        [ngClass]="{ 'opacity-low': !item.isSelected }">
        <ion-card>
          <ion-card-content>
            <ion-img src="../../../assets/svg/pacientexhdpi.svg">
            </ion-img>
            <div class="content-text">
              <h2>{{item.attention.patient.name}} {{item.attention.patient.lastname}}</h2>
              <p>{{item.attention.patient.dni}}</p>
              <p># Registro institucional: {{ item.attention?.numeroResgistro ?? '' }}</p>
              <p>Especialidad: {{ item.attention?.specialty?.name ?? '' }}</p>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar position="bottom">
    <app-button-panel [disabled]="false" (buttonClicked)="shiftHandover()"></app-button-panel>
  </ion-toolbar>
</ion-footer>

