<ion-menu menuId="menu-anestesia" contentId="main-content" type="overlay"  (ionDidOpen)="menuOpened()">
  
  <ion-content id="opciones-anestesia" color="app-blue" class="menuBlueBackground">

    <div class="spacer" style="height: 10%"></div>

    <div class="row">
      <div class="col col-25">
        <img src="../../../assets/svg/anestesiaxhdpi.svg">
      </div>
    </div>

    <ion-row>
        <ion-col text-center>
          <ion-button shape="round"
          [style.--background]="anesthesiaSelected('Bloqueo') ? 'var(--ion-color-app-red)' : 'var(--ion-color-app-gray)'"
          (click)="addAnesthesiaType('Bloqueo')">
            Bloqueo
          </ion-button>
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col text-center>
          <ion-button
          shape="round"
          [style.--background]="anesthesiaSelected('Espinal') ? 'var(--ion-color-app-red)' : 'var(--ion-color-app-gray)'"
          (click)="addAnesthesiaType('Espinal')">
            Espinal
          </ion-button>
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col text-center>
          <ion-button
          shape="round"
          [style.--background]="anesthesiaSelected('Peridural') ? 'var(--ion-color-app-red)' : 'var(--ion-color-app-gray)'"
          (click)="addAnesthesiaType('Peridural')">
            Peridural
          </ion-button>
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col text-center>
          <ion-button
          shape="round"
          [style.--background]="anesthesiaSelected('General') ? 'var(--ion-color-app-red)' : 'var(--ion-color-app-gray)'"
          (click)="addAnesthesiaType('General')">
            General
          </ion-button>
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col text-center>
          <ion-button
          shape="round"
          [style.--background]="anesthesiaSelected('Sedación') ? 'var(--ion-color-app-red)' : 'var(--ion-color-app-gray)'"
          (click)="addAnesthesiaType('Sedación')">
          Sedación
          </ion-button>
        </ion-col>
    </ion-row>

  </ion-content>

</ion-menu>