<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registro de pacientes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let barcode of barcodes">
      <ion-label position="stacked">{{ barcode.displayValue }}</ion-label>
      <ion-input type="text" [value]="barcode.rawValue"></ion-input>
    </ion-item>
  </ion-list>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="scan()" [disabled]="!isSupported">
      <ion-icon src="../../../assets/svg/barcode-outline.svg"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <app-internet-status></app-internet-status>

</ion-content>
