<ion-content [fullscreen]="true">
  <div id="login-spacer">
      <div>
        <img class="menuIcon" src="../../../assets/svg/usuarioxhdpi.svg" alt="passwordxhdpi">
      </div>
  </div>
  <form id="login-form1">
    <ion-list>
      
      <ion-item id="login-user" no-lines class="userinput">
        <ion-input [(ngModel)]="user" type="email" placeholder="Usuario" name="user"></ion-input>
      </ion-item>

      <ion-item id="login-password" no-lines class="passinput">
        <ion-input [(ngModel)]="password" type="password" placeholder="Contraseña" name="password"></ion-input>
        
      </ion-item>

      <ion-item no-lines>
        <ion-label>Recordarme</ion-label>
        <ion-toggle name="stayInChk"></ion-toggle>
      </ion-item>
   
    </ion-list>
    
    <div class="spacer" style="height:40px;" id="login-spacer"></div>
    
    <ion-row>
      <ion-col text-center>
        <button id="login-button" 
          ion-button round 
          color="--ion-color-app-blue" >
            Iniciar sesión
        </button>
      </ion-col>
    </ion-row>

  </form>
  
 
</ion-content>
<ion-footer>
    App Versión:
</ion-footer>