<app-header titleName="Ingresar"></app-header>
<ion-content [fullscreen]="true">
  <div id="login-spacer">
      <div>
        <img class="menuIcon" src="../../../assets/svg/usuarioxhdpi.svg" alt="passwordxhdpi">
      </div>
  </div>
  <form id="login-form1" #loginForm="ngForm" [formGroup]="formLogin">
    <ion-list>

      <ion-item id="login-user" lines="none" class="userinput">
        <ion-input formControlName="user" type="email" placeholder="Usuario" name="user" required></ion-input>
      </ion-item>
      <ng-container *ngIf="formLogin.controls['user'].touched && formLogin.controls['user'].invalid">
        <p class="error-message">El nombre de usuario es obligatorio.</p>
        <p *ngIf="formLogin.controls['user'].hasError('pattern')" class="error-message">El nombre de usuario debe ser alfanumérico de más de 3 letras.</p>
      </ng-container>

      <ion-item id="login-password" lines="none" class="passinput">
        <ion-input formControlName="password" type="{{ passwordVisible ? 'text' : 'password' }}" placeholder="Contraseña" name="password" required pattern="[a-zA-Z0-9]{3,}" class="passinput">
        <ion-icon slot="icon" src="../../../assets/svg/{{ passwordVisible ? 'eye-outline.svg' : 'eye-off-outline.svg'}}" class="eye-icon"  (click)="togglePasswordVisibility()"></ion-icon>
        </ion-input>
      </ion-item>
      <ng-container *ngIf="formLogin.controls['password'].touched && formLogin.controls['password'].invalid">
        <p class="error-message">La contraseña es obligatoria.</p>
      </ng-container>

      <ion-item lines="none">
        <ion-toggle formControlName="stayInChk" aria-label="recordarme">Recordarme</ion-toggle>
      </ion-item>

      <div *ngIf="errorMensaje" class="error-message">{{ errorMensaje }}</div>
    </ion-list>
    <div class="content-button">
        <ion-button id="login-button" size="default" [disabled]="isLoading" (click)="doLogin()">Iniciar sesión</ion-button>
        <ion-loading *ngIf="formLogin.valid"  class="custom-loading" trigger="login-button" message="Cargando..." ></ion-loading>
    </div>
  </form>
</ion-content>
<ion-footer>
    App Versión: 1.1
</ion-footer>
