<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" id="menu" *ngIf="currentPage !== '/login'">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-img src="../assets/icon/man-4.png"></ion-img>
          <ion-item lines="none">
            <ion-label>{{nameUser}}</ion-label>
          </ion-item>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]"  detail="false" routerLinkActive="selected">
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-item (click)="doLogout()">
            <ion-label>Cerrar Sesión</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
  <app-internet-status></app-internet-status>
</ion-app>
