<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" id="menu" menuId="menu" *ngIf="currentPage !== '/login'" side="end" itemHeight="50px">
      <ion-content>
        <ion-list id="inbox-list" lines="none">
          <ion-img src="../assets/svg/usuarioxhdpi.svg"></ion-img>
          <ion-item lines="none" id="name-user">
            <ion-label>{{nameUser ?? ''}}</ion-label>
          </ion-item>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item lines="none" routerDirection="root" [routerLink]="[p.url]"  detail="false" routerLinkActive="selected">
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-item (click)="doLogout()" lines="none" id="logout">
            <ion-label>Cerrar sesión</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
  <app-internet-status></app-internet-status>
</ion-app>
