<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" id="menu" menuId="menu" *ngIf="currentPage !== '/login'" side="end" itemHeight="50px">
      <ion-content>
        <ion-list id="inbox-list" lines="none">
          <ion-img src="../assets/svg/usuarioxhdpi.svg"></ion-img>
          <ion-item lines="none" id="name-user">
            <ion-label>{{nameUser ?? ''}}</ion-label>
          </ion-item>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item lines="none" routerDirection="root" [routerLink]="[p.url]"  detail="false" routerLinkActive="selected">
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-item (click)="doLogout()" lines="none" id="logout">
            <ion-label>Cerrar sesión</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>

    <ion-menu menuId="menu-anestesia" contentId="main-content" type="overlay"  (ionDidOpen)="menuOpened()">
      <ion-content id="opciones-anestesia" class="menuBlueBackground">
        
        <div class="spacer" style="height: 10%"></div>

        <div class="row">
          <div class="col col-25">
            <img src="../../../assets/svg/anestesiaxhdpi.svg">
          </div>
        </div>
    
        <ion-row>
            <ion-col text-center>
              <ion-button shape="round"
              [style.--background]="anesthesiaSelected('Bloqueo') ? 'var(--ion-color-app-red)' : 'var(--ion-color-app-gray)'"
              (click)="addAnesthesiaType('Bloqueo')">
                Bloqueo
              </ion-button>
            </ion-col>
        </ion-row>
    
        <ion-row>
            <ion-col text-center>
              <ion-button
              shape="round"
              [style.--background]="anesthesiaSelected('Espinal') ? 'var(--ion-color-app-red)' : 'var(--ion-color-app-gray)'"
              (click)="addAnesthesiaType('Espinal')">
                Espinal
              </ion-button>
            </ion-col>
        </ion-row>
    
        <ion-row>
            <ion-col text-center>
              <ion-button
              shape="round"
              [style.--background]="anesthesiaSelected('Peridural') ? 'var(--ion-color-app-red)' : 'var(--ion-color-app-gray)'"
              (click)="addAnesthesiaType('Peridural')">
                Peridural
              </ion-button>
            </ion-col>
        </ion-row>
    
        <ion-row>
            <ion-col text-center>
              <ion-button
              shape="round"
              [style.--background]="anesthesiaSelected('General') ? 'var(--ion-color-app-red)' : 'var(--ion-color-app-gray)'"
              (click)="addAnesthesiaType('General')">
                General
              </ion-button>
            </ion-col>
        </ion-row>
    
        <ion-row>
            <ion-col text-center>
              <ion-button
              shape="round"
              [style.--background]="anesthesiaSelected('Sedación') ? 'var(--ion-color-app-red)' : 'var(--ion-color-app-gray)'"
              (click)="addAnesthesiaType('Sedación')">
              Sedación
              </ion-button>
            </ion-col>
        </ion-row>
      </ion-content>
    </ion-menu>
  </ion-split-pane>
  <app-internet-status></app-internet-status>
</ion-app>
