<ion-content>
  <ion-row>
    <ion-col>
      <ion-col>
        <ion-text>
          <h5>{{ text }}</h5>
        </ion-text>
      </ion-col>
      <ion-col>
        <ion-icon
          (click)="scan()"
          src="../../../assets/svg/lens-qr.svg"
        ></ion-icon>
      </ion-col>
      <ion-col>
        <ion-button class="btn-scan" (click)="scan()">SCANEAR</ion-button>
      </ion-col>
      <ion-col *ngIf="idUser">
        <ion-button class="btn-demo" fill="outline" (click)="showDemoOptions()">
          Acceder demo sin QR
        </ion-button>
      </ion-col>
    </ion-col>
  </ion-row>
</ion-content>
