ion-content{
    //--background: var(--ion-color-app-aqua);
    ion-row{
        margin: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        height: 50%;
        left: 0;
        right: 0;
    }

    ion-col{
        text-align: center;
    }
    .pre-select-qr{
        ion-icon{
            width: 300px;
            height: 300px;  
        }
        .text_qr{
            position: absolute;
            //background: #68aed7e3;
            background: rgba(192, 55, 52, .95);
            text-align: center;
            width: 72%;
            height: 264px;
            margin: auto;
            left: 0;
            right: 0;
            top: 1.5rem;
            color: #ffff;
            font-size: 1.25rem;
            font-weight: 700;
            p{
                margin: auto;
                position: absolute;
                left: 2px;
                right: 2px;
                top: 0;
                bottom: 0;
                padding: 0.7rem;
                height: -moz-fit-content;
                height: fit-content;
            }
        }
    }
    
    .pre-select-button-qr{
        margin-top: 30px;
        text-align: center;
        ion-button{
            --background: var(--ion-color-app-blue);
            --border-radius: 2rem;
            margin: 0;
            padding: 0;
            height: 70%;
            width: 200px;
            font-size: 1rem;
            font-weight: bold;
        }
    }
}

