<ion-row>

    <ion-col size={{sizeCol}}>
      <ion-fab>
        <ion-fab-button (click)="openTransfusionPage()" id="transfusion">
           <ion-icon src="../../../assets/svg/water.svg"></ion-icon>
         </ion-fab-button>
       </ion-fab>
    </ion-col>

    <ion-col size={{sizeCol}}>
      <ion-fab>
        <ion-fab-button (click)="openComplicationsPage()" id="complications">
           <ion-icon src="../../../assets/svg/document.svg"></ion-icon>
         </ion-fab-button>
       </ion-fab>
    </ion-col>
  
    <ion-col size={{sizeCol}}>
      <ion-fab>
        <ion-fab-button (click)="openAdverseEventPage()" id="adverseEvent">
           <ion-icon src="../../../assets/svg/medkit.svg"></ion-icon>
         </ion-fab-button>
       </ion-fab>
    </ion-col>
    
    <ion-col *ngIf="showCancelEvent" size={{sizeCol}}>
        <ion-fab>
          <ion-fab-button (click)="openCancellationPage()" id="cancellation">
             <ion-icon src="../../../assets/svg/close-circle.svg"></ion-icon>
           </ion-fab-button>
         </ion-fab>
    </ion-col>
</ion-row>
