<app-header titleName="paciente"></app-header>

<ion-content [fullscreen]="true">
    <ion-button shape="round" expand="block" 
    style="background:var(color('StartAnesthesia'));"
    [disabled]="disabled('StartAnesthesia')"
    (click)="goToInicoAnestesia()">
      Inicio inducción de anestesia
      <ion-icon src="../../../assets/svg/mascaretaxhdpi.svg"></ion-icon>
    </ion-button>
    <ion-button shape="round" expand="block">
      Fin de inducción de anestesia
      <ion-icon src="../../../assets/svg/tubotraxhdpi.svg"></ion-icon>
    </ion-button>
    <ion-button shape="round" expand="block">
      Incisión quirúrgica
      <ion-icon src="../../../assets/svg/bisturixhdpi.svg"></ion-icon>
    </ion-button>
    <ion-button shape="round" expand="block">
      Fin de cirugía
      <ion-icon src="../../../assets/svg/suturaxhdpi.svg"></ion-icon>
    </ion-button>
</ion-content>
<ion-footer>
  <app-events-panel [showCancelEvent] = false sizeCol ='4'></app-events-panel>
</ion-footer>
